<div class="container-fluid {{'background-' + i}}">
    <div class="container">
        <div class="about-container">
            <div class="row about-row">
                <div class="col-lg-5 col-md-12">
                    <img src="../static/img/toppage/{{content}}.jpg" class="shadow-lg about-icon rounded-circle">
                </div>
                <div class="col-lg-7 col-md-12 about-content">
                    <h2>{{ content.title() }}</h2>
                    <p>{{ explanations[content] }}</p>
                    {% if content == "secret": %}
                    <a class="btn btn-primary" href="{{ url_for('login_secret') }}" role="button">このページへ行く</a>
                    {% else %}
                    <a class="btn btn-primary" href="{{ url_for(content) }}" role="button">このページへ行く</a>

                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>