<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">


        <img class="card-img-top rounded" src="../static/img/toppage/{{ card.title() }}.jpg"
             alt="">
        <div class="card-body">
            <h5 class="card-title">{{ card.title() }}</h5>

            <div class="accordion" id="{{ card }}_accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="{{ card }}_heading1">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#{{ card }}_collapse1"
                                aria-expanded="False" aria-controls="{{ card }}_collapse1">
                            基本情報
                        </button>
                    </h2>
                    <div id="{{ card }}_collapse1" class="accordion-collapse collapse"
                         aria-labelledby="{{ card }}_heading1" data-bs-parent="#{{ card }}_accordion">
                        <div class="accordion-body">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="{{ card }}_heading2">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#{{ card }}_collapse2"
                                aria-expanded="false" aria-controls="{{ card }}_collapse2">
                            詳しく
                        </button>
                    </h2>
                    <div id="{{ card }}_collapse2" class="accordion-collapse collapse"
                         aria-labelledby="{{ card }}_heading2" data-bs-parent="#{{ card }}_accordion">
                        <div class="accordion-body">
                            <a href="#" class="btn btn-primary">さらに詳しく</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>