<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 id="{{ data_title }}_h5" class="card-title">{{ data_title.title() }}</h5>

            <div class="accordion" id="{{ data_title }}_accordion">

                {% for staff in data %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="{{ staff }}_heading">
                        <button id="title_{{ data_title }}" class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#{{ staff }}_collapse"
                                aria-expanded="False" aria-controls="{{ staff }}_collapse">
                            {{ staff }}
                        </button>
                    </h2>
                    <div id="{{ staff }}_collapse" class="accordion-collapse collapse"
                         aria-labelledby="{{ staff }}_heading" data-bs-parent="#{{ data_title }}_accordion">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                {% for example in data[staff] %}
                                <li class="list-group-item">{{ example[1] }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>


        </div>
    </div>
</div>