<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 id="{{ data_kind }}_title_{{ data_title }}" class="card-title">{{ data_title.title() }}</h5>

            <div class="accordion" id="{{ data_title }}_accordion">

                {% for one_data in data %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_No{{ one_data['id'] }}">
                        <button id="button_No{{ one_data['id'] }}" class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse_No{{ one_data['id'] }}"
                                aria-expanded="False" aria-controls="collapse_No{{ one_data['id'] }}">
                            {{ one_data['link_title'] }}
                        </button>
                    </h2>
                    <div id="collapse_No{{ one_data['id'] }}" class="accordion-collapse collapse"
                         aria-labelledby="heading_No{{ one_data['id'] }}"
                         data-bs-parent="#{{ data_title }}_accordion">
                        <div class="accordion-body">
                            {{ one_data['description'] }}<br><br>
                            <a href="{{ one_data['link_url'] }}" class="btn btn-primary content-wide-btn">詳しく</a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>