<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">

        {% if data['img']: %}
        <img id="title_{{ data['id'] }}" class="card-img-top rounded" src="../static/img/portfolio/{{ data['img'] }}"
             alt="">
        {% else: %}
        <img id="title_{{ data['id'] }}" class="card-img-top rounded" src="../static/img/no-img.jpg">
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">{{ data_title.title() }}</h5>
            <p>作成年月：{{ data['date'] }}</p>

            <div class="accordion" id="accordion_No{{ data['id'] }}">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_No{{ data['id'] }}">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse_No{{ data['id'] }}"
                                aria-expanded="false" aria-controls="collapse_No{{ data['id'] }}">
                            詳しく
                        </button>
                    </h2>
                    <div id="collapse_No{{ data['id'] }}" class="accordion-collapse collapse"
                         aria-labelledby="heading_No{{ data['id'] }}" data-bs-parent="#accordion_No{{ data['id'] }}">
                        <div class="accordion-body">
                            {{ data['description'] }}<br><br>
                            {% if data['link_title']: %}
                            <a href="{{ data['link_title'] }}" class="btn btn-primary content-wide-btn">{{ data['link_title'] }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>