<!-- Button trigger modal -->
<button type="button" class="btn btn-primary delete-check-button" data-bs-dismiss="edit-modal" data-bs-toggle="modal"
        data-bs-target="#{{ database_name }}_{{ which_db_to_delete[type] }}_delete_modal">
    削除
</button>

<!-- Modal -->
<div class="modal fade delete-modal primary" id="{{ database_name }}_{{ which_db_to_delete[type] }}_delete_modal" tabindex="-1"
     aria-labelledby="{{ database_name }}_{{ which_db_to_delete[type] }}_delete_modal_label">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ database_name }}_{{ which_db_to_delete[type] }}_delete_modal_label">注意</h5>
            </div>
            <div class="modal-body">
                <p>本当に<strong>削除</strong>してもよろしいですか？</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('setting_delete', obj=database_name, which_db_to_delete=which_db_to_delete) }}"
                   class="btn btn-primary delete-button"><span class="align-middle">削除</span></a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>