<!--inputs of kind and title-->
<div class="mb-3">
    <input type="text" class="form-control"
           aria-label="Text input with checkbox"
           required="required"
           placeholder="kind"
           name="kind" value="{{ kind }}">
</div>
<div class="mb-3">
    <input type="text" class="form-control"
           aria-label="Text input with checkbox"
           placeholder="title"
           required="required"
           name="title" value="{{ title }}">
</div>

{% for column in data %}

{% if column != 'id' %}
<div class="mb-3">
    {% if column == 'description' %}
    <textarea class="form-control" name="{{ column }}"
              placeholder="{{ column }}"
              rows="3">{{ data[column] }}</textarea>
    {% else %}
    <input type="text" class="form-control"
           aria-label="Text input with checkbox"
           name="{{ column }}" value="{{ data[column] }}"
           placeholder="{{ column }}">
    {% endif %}

</div>
{% endif %}

{% endfor %}

<button type="submit" class="btn btn-primary">Save change
</button>