<!--START Accordion1 for edit-->
<div class="accordion" id="{{ database_name }}_accordion">
    {% for kind in database %}
    <div class="accordion-item">
        <div class="row">
            <div class="col-3">
                {% with database_name=database_name, type="kind", which_db_to_delete={"kind": kind} %}
                {% include "setting-components/delete_button.html" %}
                {% endwith %}

            </div>
            <div class="col-9">
                <h2 class="accordion-header"
                    id="{{ database_name }}_{{ kind }}_heading1">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ database_name }}_{{ kind }}_collapse1"
                            aria-expanded="False"
                            aria-controls="{{ database_name }}_{{ kind }}_collapse1">
                        {{ kind }}
                    </button>
                </h2>
            </div>
        </div>


        <div id="{{ database_name }}_{{ kind }}_collapse1"
             class="accordion-collapse collapse"
             aria-labelledby="{{ database_name }}_{{ kind }}_heading1"
             data-bs-parent="#{{ database_name }}_accordion">
            <div class="accordion-body">


                <!--START Accordion2 for edit-->
                <div class="accordion" id="{{ database_name }}_{{ kind }}_accordion">

                    {% for title in database[kind] %}

                    <div class="accordion-item">
                        <div class="row">
                            <div class="col-3">
                                {% with database_name=database_name, type="title", which_db_to_delete={"title": title} %}
                                {% include "setting-components/delete_button.html" %}
                                {% endwith %}

                            </div>
                            <div class="col-9">
                                <h2 class="accordion-header"
                                    id="{{ database_name }}_{{ kind }}_{{ title.split()[0] }}_heading1">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#{{ database_name }}_{{ kind }}_{{ title.split()[0] }}_collapse1"
                                            aria-expanded="False"
                                            aria-controls="{{ database_name }}_{{ kind }}_{{ title.split()[0] }}_collapse1">
                                        {{ title }}
                                    </button>
                                </h2>
                            </div>
                        </div>


                        <div id="{{ database_name }}_{{ kind }}_{{ title.split()[0] }}_collapse1"
                             class="accordion-collapse collapse"
                             aria-labelledby="{{ database_name }}_{{ kind }}_{{ title.split()[0] }}_heading1"
                             data-bs-parent="#{{ database_name }}_{{ kind }}_accordion">
                            <div class="accordion-body">


                                <!--START Accordion3 for edit-->
                                <div class="accordion"
                                     id="{{ database_name }}_{{ kind }}_{{ title.split()[0] }}_accordion">

                                    {% for staff in database[kind][title] %}

                                    <div class="accordion-item">


                                        <div class="row">
                                            <div class="col-3">
                                                {% with database_name=database_name, type="staff", which_db_to_delete={"staff": staff}
                                                %}
                                                {% include "setting-components/delete_button.html" %}
                                                {% endwith %}

                                            </div>
                                            <div class="col-9">
                                                <h2 class="accordion-header"
                                                    id="{{ database_name }}_{{ staff }}_heading1">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#{{ database_name }}_{{ staff }}_collapse1"
                                                            aria-expanded="False"
                                                            aria-controls="{{ database_name }}_{{ staff }}_collapse1">
                                                        {{ staff }}
                                                    </button>
                                                </h2>
                                            </div>
                                        </div>


                                        <div id="{{ database_name }}_{{ staff }}_collapse1"
                                             class="accordion-collapse collapse"
                                             aria-labelledby="{{ database_name }}_{{ staff }}_heading1"
                                             data-bs-parent="#{{ database_name }}_{{ kind }}_{{ title.split()[0] }}_accordion">

                                            <div class="accordion-body">

                                                <form action="{{ url_for('setting_edit', obj=database_name, kind=kind, title=title, staff=staff) }}"
                                                      method="POST">
                                                    {% for example in database[kind][title][staff] %}
                                                    <div class="row mb-3">
                                                        <div class="col-3">
                                                            {% with database_name=database_name,
                                                            type="id",
                                                            which_db_to_delete={"id":
                                                            example[0]} %}
                                                            {% include "setting-components/delete_button.html" %}
                                                            {% endwith %}
                                                        </div>
                                                        <div class="col-9">
                                                            <input type="text" class="form-control"
                                                                   aria-label="Text input with checkbox"
                                                                   placeholder="{{ example[1] }}"
                                                                   required="required"
                                                                   name="examples"
                                                                   value="{{ example[1] }}"
                                                            >
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                    <button type="submit" class="btn btn-primary">Save change
                                                    </button>
                                                </form>
                                                </div>
                                                <div class="accordion-body">


                                                    <form action="{{ url_for('setting_add', obj=database_name, kind=kind, title=title, staff=staff) }}"
                                                          method="POST">
                                                        <div class="mb-3">

                                                            <input type="text" class="form-control"
                                                                   aria-label="Text input with checkbox"
                                                                   placeholder="examples"
                                                                   required="required"
                                                                   name="examples">
                                                        </div>
                                                        {% for _ in range(4) %}

                                                        <div class="mb-3">

                                                            <input type="text" class="form-control"
                                                                   aria-label="Text input with checkbox"
                                                                   placeholder="examples"
                                                                   name="examples">

                                                        </div>
                                                        {% endfor %}

                                                        <button type="submit" class="btn btn-primary">Add examples
                                                        </button>
                                                    </form>
                                                </div>


                                            </div>
                                        </div>


                                        {% endfor %}
                                        <!--START Add-->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header"
                                                id="{{ database_name }}_{{ kind.split()[0] }}_{{ title.split()[0] }}_add_heading1">
                                                <button class="accordion-button collapsed btn-primary" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#{{ database_name }}_{{ kind.split()[0] }}_{{ title.split()[0] }}_add_collapse1"
                                                        aria-expanded="False"
                                                        aria-controls="{{ database_name }}_{{ kind.split()[0] }}_{{ title.split()[0] }}_add_collapse1">
                                                    Add
                                                </button>
                                            </h2>

                                            <div id="{{ database_name }}_{{ kind.split()[0] }}_{{ title.split()[0] }}_add_collapse1"
                                                 class="accordion-collapse collapse"
                                                 aria-labelledby="{{ database_name }}_{{ kind }}_{{ title.split()[0] }}_add_heading1"
                                                 data-bs-parent="#{{ database_name }}_{{ kind }}_{{ title.split()[0] }}_accordion">
                                                <div class="accordion-body">
                                                    <form action="{{ url_for('setting_add', obj=database_name, kind=kind, title=title) }}"
                                                          method="POST">

                                                        {% with columns=columns, columns_not_included=['id', 'kind',
                                                        'title'] %}
                                                        {% include "setting-components/add-form.html" %}
                                                        {% endwith %}


                                                    </form>


                                                </div>
                                            </div>
                                        </div>
                                        <!--END Add-->
                                    </div>
                                    <!--END Accordion3 for edit-->


                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        <!--START Add-->
                        <div class="accordion-item">
                            <h2 class="accordion-header"
                                id="{{ database_name }}_{{ kind.split()[0] }}_add_heading1">
                                <button class="accordion-button collapsed btn-primary" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#{{ database_name }}_{{ kind.split()[0] }}_add_collapse1"
                                        aria-expanded="False"
                                        aria-controls="{{ database_name }}_{{ kind.split()[0] }}_add_collapse1">
                                    Add
                                </button>
                            </h2>

                            <div id="{{ database_name }}_{{ kind.split()[0] }}_add_collapse1"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="{{ database_name }}_{{ kind }}_add_heading1"
                                 data-bs-parent="#{{ database_name }}_{{ kind }}_accordion">
                                <div class="accordion-body">

                                    <form action="{{ url_for('setting_add', obj=database_name, kind=kind) }}"
                                          method="POST">

                                        {% with columns=columns, columns_not_included=['id', 'kind'] %}
                                        {% include "setting-components/add-form.html" %}
                                        {% endwith %}

                                    </form>


                                </div>
                            </div>
                        </div>
                        <!--END Add-->
                    </div>
                    <!--END Accordion2 for edit-->

                </div>
            </div>
        </div>
        {% endfor %}

        <!--START Add-->
        <div class="accordion-item">
            <h2 class="accordion-header"
                id="{{ database_name }}_add_heading1">
                <button class="accordion-button collapsed btn-primary" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ database_name }}_add_collapse1"
                        aria-expanded="False"
                        aria-controls="{{ database_name }}_add_collapse1">
                    Add
                </button>
            </h2>

            <div id="{{ database_name }}_add_collapse1"
                 class="accordion-collapse collapse"
                 aria-labelledby="{{ database_name }}_add_heading1"
                 data-bs-parent="#{{ database_name }}_accordion">
                <div class="accordion-body">
                    <form action="{{ url_for('setting_add', obj=database_name) }}"
                          method="POST">

                        {% with columns=columns, columns_not_included=['id'] %}
                        {% include "setting-components/add-form.html" %}
                        {% endwith %}


                    </form>


                </div>
            </div>
        </div>
        <!--END Add-->

    </div>
    <!--END Accordion1 for edit-->


