{% include "header_footer/head.html" %}
<!--  Link to my css  -->
<link rel="stylesheet" href="../static/scss/index.css">
<link rel="stylesheet" href="../static/scss/contents.css">


{% include "header_footer/header.html" %}

{% with title=title %}
    {% include "contents/title-screen.html" %}
{% endwith %}

<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="content-table">
                <nav class="nav flex-column">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link disabled">Disabled</a>
                </nav>
            </div>

        </div>
        <div class="col-lg-9 col-sm-12">
            <div class="content">
                <div class="row">

                    {% for card in ['application', 'biography', 'contact']: %}

                    {% with card=card %}
                    {% include "contents/cards.html" %}
                    {% endwith %}

                    {% endfor %}
                </div>

            </div>
        </div>

    </div>
</div>

{% include "header_footer/footer.html" %}
