{% include "header_footer/head.html" %}
<!--  Link to my css  -->
<link rel="stylesheet" href="../static/scss/index.css">


{% include "header_footer/header.html" %}

<!-- Slide show -->
<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#profile_pic" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

    <div class="carousel-inner">
        <div id="profile_pic" class="carousel-item active title-screens" data-bs-interval="5000">
            <img src="../static/img/toppage/profile.jpg" class="d-block w-100 title-img">
            <div class="carousel-caption center-block">
                <h5>Profile</h5>
                <p><a href="{{ url_for(contents[0]) }}">More</a></p>
            </div>
        </div>
        {% for content in contents[1:]: %}
        <div class="carousel-item title-screens" data-bs-interval="5000">
            <img src="../static/img/toppage/{{ content }}.jpg" class="d-block w-100 title-img">
            <div class="carousel-caption d-md-block">
                <h5>{{ content.title() }}</h5>
                <p><a href="{{ url_for(content) }}">More</a></p>
            </div>
        </div>
        {% endfor %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% include "header_footer/footer.html" %}
