@charset "UTF-8";

$h5fontsize: 1px;
$afontsize: 0.5px;


@mixin tocenter($wid) {
  width: $wid;
  margin-left: auto;
  margin-right: auto;
}

body {
  .title-screens {
    position: relative;
    text-align: center;

    h5 {
      position: absolute;
      bottom: 9%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;

    }
  }
}
