@charset "UTF-8";

$h5fontsize: 1px;
$afontsize: 0.5px;

$background-color: #265F73;


@mixin tocenter($wid) {
  width: $wid;
  margin-left: auto;
  margin-right: auto;
}

body {
  .title-screens {
    position: relative;
    text-align: center;

    h5 {
      position: absolute;
      bottom: 6.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
  }

  .container {
    padding-bottom: 2em;

    .content-table {
      margin-top: 2em;
      background-color: $background-color;
      border-radius: 0.5em;

      a {
        color: white;
      }
    }

    .card {
      background-color: $background-color;

      .card-title {
        color: white;
      }
    }

    .accordion {
      background-color: $background-color;

    }

    .content {
      margin-top: 2em;
    }

    .contact-icons {
      margin-top: 2em;
      text-align: center;
    }
  }

}
