@charset "UTF-8";

$h5fontsize: 1px;
$afontsize: 0.5px;


@mixin tocenter($wid) {
  width: $wid;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: black;

  #carouselExampleInterval {
    .carousel-item {
      height: 100%;
      display: grid;
    }

    .carousel-caption {

    }
  }

  // Specification below is common among all html files.

  .title-screens {
    h5 {
      font-size: 3em;
      height: 1.4em;
      @include tocenter(6em);
      border-radius: 0.5em;
      background: black;
    }

    button {
      font-size: 1.5em;
      color: black;
    }
  }
}
