@charset "UTF-8";

$h5fontsize: 1px;
$afontsize: 0.5px;


@mixin tocenter($wid) {
  width: $wid;
  margin-left: auto;
  margin-right: auto;
}

body {


  .container {
    padding-bottom: 4em;

    h1 {
      color: white;
      margin-top: 1.5em;
    }

    .row {

      text-align: center;

      .wide_button {
        margin-top: 2em;
        width: 90%;
        text-align: center;
        height: 4em;
        font-size: 1.5em;
      }
    }


  }


}
