{% include "header_footer/head.html" %}

<!--  Link to my css  -->
<link rel="stylesheet" href="../static/scss/index.css">
<link rel="stylesheet" href="../static/scss/contents.css">


{% with title=title %}
{% include "header_footer/header.html" %}
{% include "contents/title-screen.html" %}
{% endwith %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6  col-sm-12 contact-icons">
            <a href="https://www.instagram.com/kbt_0710/" target="_blank">
                <i class="fa-brands fa-instagram fa-10x contact-icon"></i>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 contact-icons">
            <a href="https://ja-jp.facebook.com/people/%E4%B9%85%E4%BF%9D%E7%94%B0%E5%81%A5%E5%A4%AA/100032331589801/"
               target="_blank">
                <i class="fa-brands fa-facebook fa-10x contact-icon"></i>
            </a>
        </div>


        <div class="col-lg-4 col-sm-12 contact-icons">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#sending_mail_modal">
                <i class="fa-solid fa-envelope fa-10x contact-icon"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="sending_mail_modal" tabindex="-1" aria-labelledby="mail_modal_label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mail_modal_label">管理者にメッセージを送る</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{{ url_for('contact') }}"
                              method="POST">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <input type="text" class="form-control"
                                           aria-label="Text input with checkbox"
                                           name="nickname" placeholder="Nickname">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control"
                                           aria-label="Text input with checkbox"
                                           name="email_subject" placeholder="Subject">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" name="email_content"
                                              placeholder="Message"
                                              rows="3"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                                <button type="submit" class="btn btn-primary">送信</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>


    </div>


</div>

{% include "header_footer/footer.html" %}