{% include "header_footer/head.html" %}

<!--  Link to my css  -->
<link rel="stylesheet" href="../static/scss/index.css">
<link rel="stylesheet" href="../static/scss/contents.css">


{% with title=title %}
{% include "header_footer/header.html" %}
{% include "contents/title-screen.html" %}
{% endwith %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6  col-sm-12 contact-icons">
            <a href="https://www.instagram.com/kbt_0710/" target="_blank">
                <i class="fa-brands fa-instagram fa-10x contact-icon"></i>
            </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 contact-icons">
            <a href="https://ja-jp.facebook.com/people/%E4%B9%85%E4%BF%9D%E7%94%B0%E5%81%A5%E5%A4%AA/100032331589801/"
               target="_blank">
                <i class="fa-brands fa-facebook fa-10x contact-icon"></i>
            </a>
        </div>


        <div class="col-lg-4 col-sm-12 contact-icons">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#sending_mail_modal">
                <i class="fa-solid fa-envelope fa-10x contact-icon"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="sending_mail_modal" tabindex="-1" aria-labelledby="mail_modal_label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mail_modal_label">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>


</div>

{% include "header_footer/footer.html" %}