{% include "header_footer/head.html" %}
<!--  Link to my css  -->
<link rel="stylesheet" href="../static/scss/index.css">

{% with title=title %}
{% include "header_footer/header.html" %}
{% endwith %}
<!-- Slide show -->
<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
                aria-current="true"></button>
        {% for i in range(contents[1:]|length -1): %}
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{i+1}}"></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        <div id="profile_pic" class="carousel-item active title-screens" data-bs-interval="5000">
            <img src="../static/img/toppage/{{contents[0]}}.jpg" class="d-block w-100 title-img">
            <div class="carousel-caption center-block">
                <h5>{{ contents[0].title() }}</h5>
                <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for(contents[0]) }}'">
                    More
                </button>
            </div>
        </div>
        {% for content in contents[1:6]: %}
        <div class="carousel-item title-screens" data-bs-interval="5000">
            <img src="../static/img/toppage/{{ content }}.jpg" class="d-block w-100 title-img">
            <div class="carousel-caption d-md-block">
                <h5>{{ content.title() }}</h5>
                <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for(content) }}'">
                    More
                </button>
            </div>
        </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container-fluid background-1">
    <div class="container">
        <div class="about-container">
            <h1 id="about">About</h1>
            <p>学部４年の終わり、就活用に作りました。<br>
                将来的には副業用のプラットフォームを作りたいので、その基盤にする予定です。<br>
                使った言語はPython、HTML、SCSS（CSS）です。<br>
                バックエンド、フロントエンド両方をある程度学びたかったので、簡単なwordpressを使わずに作成しました。<br>
                ほぼすべての内容をオンラインで簡単に変えられるように設計したので、情報が変わり次第随時変更していきます。<br>
                サイト内にある写真及びアイコンの転用はしないよう、ご協力お願いいたします。
            </p>
        </div>
    </div>
</div>

{% for content in contents %}
{% with explanations=explanations, i = (loop.index % 2 + 1)|string %}
{% include 'index-components/about.html' %}
{% endwith %}
{% endfor %}

{% if not user %}
<script type="text/javascript">
    alert("\n当サイトを訪問していただきありがとうございます。\n\n当サイトでは無料のサーバーを使っているため、ウェブサイトの移動にかかる長い傾向にあります。\n" +
        "また、Contactのページは非常に重いです。（原因究明中）\n\n" +
        "ご了承ください。");
</script>
{% endif %}

{% include "header_footer/footer.html" %}
