{% include "header_footer/head.html" %}
<!--  Link to my css  -->
<link rel="stylesheet" href="../static/scss/index.css">
<link rel="stylesheet" href="../static/scss/contents.css">

{% with title=title %}
{% include "header_footer/header.html" %}
{% include "contents/title-screen.html" %}
{% endwith %}

<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="content-table">
                <nav class="nav flex-column">
                    <a class="nav-link" aria-current="page" href="#">Active</a>
                </nav>
            </div>

        </div>
        <div class="col-lg-9 col-sm-12">
            <div class="content">
                <div class="row">

                </div>

            </div>
        </div>

    </div>
</div>

{% include "header_footer/footer.html" %}