{% include "header_footer/head.html" %}
<!--  Link to my css  -->
<link rel="stylesheet" href="../static/scss/index.css">
<link rel="stylesheet" href="../static/scss/contents.css">
<link rel="stylesheet" href="../static/scss/setting.css">


{% with title=title %}
{% include "header_footer/header.html" %}
{% endwith %}

<div class="container">

    <h1>Add / Edit / Delete</h1>

    <div class="row">


        {% for database_name in databases: %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary wide_button" data-bs-toggle="modal"
                    data-bs-target="#{{ database_name }}_edit_modal">
                {{ database_name.title() }}
            </button>

            <!-- Modal -->

            <!-- Button trigger modal -->


            <div class="modal edit-modal fade" id="{{ database_name }}_edit_modal" tabindex="-1"
                 aria-labelledby="{{ database_name }}_edit_modal_label"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{ database_name }}_edit_modal_label">{{ database_name.title()
                                }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            {% with database_name=database_name, database=databases[database_name],
                            columns=columns[database_name] %}
                            {% if database_name in ['portfolio', 'biography']: %}
                            {% include "setting-components/modal-for-biography-portfolio.html" %}
                            {% elif database_name in ['profile', 'secret'] %}
                            {% include "setting-components/modal-for-profile-secret.html" %}
                            {% elif database_name in ['library', 'user'] %}
                            {% include "setting-components/modal-for-" + database_name + ".html" %}
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}


    </div>
</div>

{% include "header_footer/footer.html" %}