{% include "header_footer/head.html" %}
<!--  Link to my css  -->
<link rel="stylesheet" href="../static/scss/index.css">
<link rel="stylesheet" href="../static/scss/contents.css">
<link rel="stylesheet" href="../static/scss/setting.css">


{% include "header_footer/header.html" %}


<div class="container">

    <h1>Add</h1>

    <div class="row">

        {% for button in databases: %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary wide_button" data-bs-toggle="modal"
                    data-bs-target="#{{ button }}_modal">
                {{ button.title() }}
            </button>

            <!-- Modal -->
            <div class="modal fade" id="{{ button }}_modal" tabindex="-1" aria-labelledby="{{ button }}_modal_label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{ button }}_modal_label">{{ button.title() }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for column in databases[button][1] %}
                            <label class="form-label">{{column}}</label>
                            <div class="mb-3">
                                {% if column == 'description' %}
                                <textarea class="form-control" name="description" rows="3"></textarea>
                                {% else %}
                                <input type="text" class="form-control" aria-label="Text input with checkbox">
                                {% endif %}
                            </div>
                            {% endfor %}

                            <div class="mb-3">
                                <label class="form-label">写真</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


    <h1>Edit</h1>
    <div class="row">

        {% for button in databases: %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary wide_button" data-bs-toggle="modal"
                    data-bs-target="#{{ button }}_edit_modal">
                {{ button.title() }}
            </button>

            <!-- Modal -->
            <div class="modal fade" id="{{ button }}_edit_modal" tabindex="-1"
                 aria-labelledby="{{ button }}_edit_modal_label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="{{ button }}_edit_modal_label">{{ button.title() }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="accordion" id="{{ button }}_accordion">
                                {% for data in databases[button][0] %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="{{ button }}_{{ data.id }}_heading1">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#{{ button }}_{{ data.id }}_collapse1"
                                                aria-expanded="False"
                                                aria-controls="{{ button }}_{{ data.id }}_collapse1">
                                            {{ data.title }}
                                        </button>
                                    </h2>
                                    <div id="{{ button }}_{{ data.id }}_collapse1" class="accordion-collapse collapse"
                                         aria-labelledby="{{ button }}_{{ data.id }}_heading1"
                                         data-bs-parent="#{{ button }}_accordion">
                                        <div class="accordion-body">
                                            {% for column in databases[button][1] %}
                                            <label class="form-label">{{column}}</label>
                                            <div class="mb-3">

                                                {% if column == 'title' %}
                                                <input type="text" class="form-control 1"
                                                       aria-label="Text input with checkbox"
                                                       value={{data.title}}>
                                                {% elif column == 'link_url' %}
                                                <input type="text" class="form-control 2 "
                                                       aria-label="Text input with checkbox"
                                                       value={{data.link_url}}>
                                                {% elif column == 'link_title' %}
                                                <input type="text" class="form-control 3"
                                                       aria-label="Text input with checkbox"
                                                       value={{data.link_title}}>
                                                {% elif column == 'time' %}
                                                <input type="text" class="form-control 4"
                                                       aria-label="Text input with checkbox"
                                                       value={{data.time}}>
                                                {% elif column == 'member' %}
                                                <input type="text" class="form-control 5"
                                                       aria-label="Text input with checkbox"
                                                       value={{data.member}}>
                                                {% elif column == 'description' %}
                                                <textarea class="form-control" name="description"
                                                          rows="3">{{data.description}}</textarea>
                                                {% else %}
                                                <input type="text" class="form-control 6"
                                                       aria-label="Text input with checkbox">
                                                {% endif %}
                                            </div>
                                            {% endfor %}

                                            <button type="button" class="btn btn-primary">Save change</button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% include "header_footer/footer.html" %}